@import "tailwindcss";
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  overflow-x: hidden;
  font-family: monospace;
}

@layer base {
  textarea {
    border-radius: 0.75rem;
  }
}

/* scrollbar width */
textarea::-webkit-scrollbar {
  width: 8px;
}

/* scrollbar track (background) */
textarea::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb (the draggable part) */
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

@keyframes grid-movement {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(10px, -10px) scale(1.1);
  }
}

/* hover effect */
textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
